body{
	font-family: Verdana, Arial, Sans-Serif;
}
textarea{
	border: 1px solid #00baff;
}

.friends{
    font-family: Verdana, Arial, Sans-Serif;
	background: #e0fcfc;
	height: 650px;
    color: #000;
    float: left;
    width: 310px;
    border-radius: 3px;
}
.current-user{
	min-height: 150px;
	background: #fffefe;
}
 .search span{
	opacity: 0.5;
}
.friends img{
	height: 80px;
	width: 70px;
}
.chat-and-services{
	width: 100%;
}
.chat-and-services button span{
	color: red;
}
.chat-and-services button{

	float: right;
	height: 80px;
	border-radius: 8em;
	width: 70px;
}
.chat-for-business-education{
	background: #fff;
	
	margin-top: 140px;
}
.single-chat p,.first{
	background: #e0fcfc;
	width: 30%;
	
	margin-left: 445px;
}
.single-chat .second{
	background: #e0fcfc;
	width: 30%;
	margin-top: 20px;
	margin-left: 535px;
}
.chat-textarea textarea{
	width: 60%;
}
