body{
	font-family: Verdana, Arial, Sans-Serif;
}
textarea{
	border: 1px solid #00baff;
}
li{
	list-style-type: none;
}
video{
	width: 450px;
	height: 280px;
}
#main a{
 color: #fff;
}
.settings{
	height: 650px;
	color: #2B587A;
	margin-left: -100px;
	min-width: 33%;
}
.top-service-indicator{
	margin-left: 0px;
}
.top-service-indicator button{
	background: #00a7ff;
	height: 40px;
	width: 127.3px;
	color: #fff;
}
.progress{
	text-align: center;
	width: 170px;
}
.top-service-indicator li{
	display: inline;
	margin: 0;
}
.profile {
	background-image: url(/img/camera_200.gif);
	background-repeat: no-repeat; background-position: left top; padding-top:188px; margin-bottom:50px; 
}	
.profile p{
	margin-top: -20px;
	margin-left: -20px;

}
.setting-options{
	
	margin-left: 120px;
}
a{
		color: #2B587A;
}
.settings li span a{
	opacity: 0.5;
	list-style-type: none;
}
.setting-options li span{
	margin-left: 0px;
	list-style-type: none;
}
.setting-options li{
	margin: 0;
	display: block;
}
.friends{
    font-family: Verdana, Arial, Sans-Serif;
	background: #e0fcfc;
	height: 650px;
    color: #000;
    min-width: 30%;
    border-radius: 3px;
}
.status{
	color: #2B587A;
}
.friends .img{
	height: 40px;
	width: 20px;
}
.friends span{
	color: #2B587A;
}
 .main-action{
	min-height: 150px;

}
.mates-list{
	min-height: 320px;
	background: #00baff;
	width: 100%;
	margin-left: 2px;
}
.other-activites{
	min-height: 150px;
	margin-left: 2px;
}
.search{
	width: 100%;
	min-height: 150px;
	margin-left: 2px;
}
.search p{
    color: #13afe8;
    text-align: center;
}
.search img{
    height: 80px;
}
.chat-area{
	height: 650px;
	border-right: 4px solid #fff;
}
.single-chat p,.first{
	background: #e0fcfc;
	margin-left: 45px;
}
.single-chat .second{
	background: #e0fcfc;
	margin-top: 20px;
	margin-left: 105px;
}
.chat-textarea textarea{
	margin-top: 47px;
	width: 100%;
}
.navbar{
	border-radius: 0px;
    background: #00a7ff;  
}
.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

/* irrelevant styling */
body { text-align: center; }
body p { 
  max-width: 400px; 
  margin: 20px auto; 
}
table,tr,th,td{
	width: 100%;
}
#tallModal .modal-body p { margin-bottom: 900px }
#choice-model li{
	display: inline;
}

