body {
	background-color: #FFF;
}
.navbar-default {
	background-color: #00baff;
	border-color: #00baff;
	color: #FFF;
}

.navbar-default .navbar-brand {
	color: #FFF;
}

.top-nav>li>a , .navbar-default .navbar-nav>li>a {
	color: #FFF;
}

#post{
    margin-left: -10%;
    width: 100%;
    border:1px solid #00baff;;
    margin-top: 5px;
    height: 590px;
}
.nav>li>a:hover {
    text-decoration: none;
   background: #00baff;
}
.centelise{
    padding-left: 20px;
}
.jump_to{
    width: 100px;
    margin-left: -105px;
}
.phone-menus{
    margin-top: -120px;
}

