/* define some constant for entire web */
#study,body{
    background: #000;
    font-family: Verdana, Arial, Sans-Serif;
}
#center{
    margin: 15px;
}
#study .mycontainer{
    width: 100%;
    color: #fff;
    min-height: 600px;
    margin-top: 20px;
    background: #fff;
}
#center h1{
    opacity: 0.5;
}
#menu{
    min-height: 80px;
    background: #3498db;
}
#center,#menu a,li{
    color: #fff;
    list-style-type: none;
    display: inline;
}
#study .grid1{
    width: 15%;
    color: #000;
    min-height: 600px;
    padding: 10px;
    border-right: 1px solid #ccc;
    float: left;
}
.clear{
    clear: both;
}
#study .grid2{
    width: 70%;
    color: #fff;
    float: left;
}
#study .phone{
    background: #5bc0de;
}
#study footer{
    color: white;
    margin-left:600px;
   
}
#mates{
    margin: 20px;
}
.mate{
    margin-left: 845px;
    margin-top: 10px;
    color: #000;
    min-height: 100px;
    float: left;
}
